.gradle
.idea
.vscode
.settings
.classpath
.project
bin
build
tmp

src/main/resources/twitch.txt
src/main/resources/twitch.eye.txt

ignored_user.json
EmotesData.json
stream_info.json

twitch.properties
uwe-twitch-desktop.log
uwe-twitch-desktop.log.1
uwe-twitch.desktop-pid
uwitch.sh



